@font-face {
  font-family: "RIDIBatang";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("https://dbcel3f97fjt1.cloudfront.net/assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}
