@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, serif;
    font-weight: 400;
    font-style: normal;
  }
}

@font-face {
  font-family: "SUIT Variable";
  font-weight: 100 900;
  src: url("./src/assets/fonts/SUIT-Variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("https://dbcel3f97fjt1.cloudfront.net/assets/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

:root {
  --color-primary: #171719;
  --color-gray-900: #191919;
  --color-gray-700: #4c4c4c;
  --color-gray-500: #979ca1;
  --color-secondary: rgba(55, 56, 60, 0.61);
  --color-point: #e75e5e;
}
